.st-emotion-cache-7my29v{
    padding: 1.5rem ;
    border-radius: 0.5rem;
    background-color: gray;
}

.st-emotion-cache-h4xjwg{
    background-color: rgb(84, 112, 197);

}

.st-emotion-cache-1jicfl2{
    background-color: black;
}

.st-emotion-cache-1itdyc2 {
    background-color: black;
}